/* For Entire Body (High level) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background: #f7f7fb;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

section {
    padding: 50px 0;
}

section h2 {
    font-size: 20px;
    margin-bottom: 12px;
}

#home h1 {
    font-size: 40px;
    margin-bottom: 8px;
}

#home p {
    max-width: 70ch;
    color: #444;
    margin-top: 10px;
}


/* Buttons */

.buttons a{
  display:inline-block;
  padding:10px 16px;
  border-radius:10px;
  border:1px solid #ddd;
  text-decoration:none;
  font-weight:700;
  margin-right:10px;
  margin-top:10px;
  color:#111;
  background:white;
}

.btn:hover {
  border-color: #0066ff;
  color: #0066ff;
}


.btn.primary {
    background: #0066ff;
    border: none;
    color: white;
}

.btn.primary:hover {
    opacity: 0.9;
}

/* Cards (Skills/Projects)*/

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
}

/* Projects Section*/

.project-card h3 {
    margin-bottom: 8px;
}

.project-card p {
    margin-bottom: 10px;
    color: #333;
}

.project-card ul {
    padding-left: 18px;
    color: #333
}


.project-card li {
    margin-bottom: 6px;
    color: #444;
}

/* Education Section */

.edu-item {
    margin-bottom: 14px;
}

.edu-item h3 {
    font-size: 18px;
}

.edu-item span {
    color: #666;
    font-size: 14px;
}

/* Contact Form */

form {
    margin-top: 12px;
}

input, textarea {
    width: 100%;
    padding: 10px 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-top: 8px;
    font-size: 15px;
}

textarea {
    min-height: 120px;
    resize: vertical;
}

/* For responsiveness */

@media (max-width: 900px) {
  #home h1 {
    font-size: 32px;
  }

  .grid-3 {
    grid-template-columns: 1fr;
  }

  nav {
    display: none;
  }
}